.home-container {
    height: 100vh; 
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.div-image{
    background-image: url('./../../public/image1.jpg'); /* Chemin vers votre image */
    background-size: cover; /* Ajuste la taille de l'image pour couvrir tout le conteneur */
    background-position: center; /* Centre l'image */
    height: 100vh;
    width: 50%;
}
.tout{
    display: flex;
    flex-direction:row;
    row-gap: 10px;
    background-color: #ffeffb;
}
.button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
.nonButton{
    color: red;
}
.yesButton{
    color: #1BA2B1;
}